<ion-navbar>

  <button ion-button menuToggle="user-menu">
    <ion-icon name="menu"></ion-icon>
  </button>

  <ion-title *ngIf="user">
    <ion-item detail-none no-lines color="transparent">
      <ion-avatar item-left>
        <img [src]="user.photo || 'assets/imgs/no-photo.jpg'">
      </ion-avatar>
      {{ title }}
    </ion-item>
  </ion-title>

  <ion-title *ngIf="!user">
    {{ title }}
  </ion-title>

  <ion-buttons end>
    <button ion-button icon-only (click)="onLogout()">
      <ion-icon name="exit"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
